.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 4px;
}

label {
  margin-bottom: 10px;
}

label:last-child {
  margin-bottom: 0px;
}

input {
  margin-left: 10px;
}
